{
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react",
    "flow"
  ],
  "env": {
    "commonjs": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    }
  }
}
